---
---

<script>
	import Dropzone from "dropzone";
	import "dropzone/dist/dropzone.css";

	const dropzone = new Dropzone("#dropzone", {
		uploadMultiple: false,
		acceptedFiles: ".jpg,.jpeg,.png,.webp",
		maxFiles: 1,
	});

	dropzone.on("sending", (file, xhr, formData) => {
		formData.append("upload_preset", "ml_default");
		formData.append("timestamp", Date.now() / 1000);
		formData.append("api_key", 866346411344875);
	});

	dropzone.on("success", (file, response) => {
		console.log("GOOD");
		console.log(response);
	});

	dropzone.on("error", (file, response) => {
		console.log("BAD");
		console.log(response);
	});
</script>

<form
	id="dropzone"
	class="dropzone-form w-full flex flex-col sm:justify-center sm:items-center sm:gap-8 sm:pt-36 sm:pb-16 sm:px-16 rounded-[2rem]"
	action="https://api.cloudinary.com/v1_1/badiali/image/upload"
>
	<button
		type="button"
		class="pointer-events-none btn rounded-2xl font-bold transition ease-in-out text-center hover:no-underline inline-flex items-center justify-center text-2xl px-8 py-2.5 text-white bg-primary"
		>Upload Image</button
	>
	<div class="hidden sm:flex flex-col gap-1.5 text-black">
		<p class="m-0 font-bold text-xl">or drop a file</p>
	</div>
</form>

<style>
	.dropzone-form * {
		position: relative;
		z-index: 2;
	}
	.dropzone-form::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		border-radius: 2rem;
		background-color: #eef2ff;
	}
	.dropzone-form::after {
		content: "";
		position: absolute;
		top: 1.5rem;
		left: -1.5rem;
		z-index: 0;
		width: 100%;
		height: 100%;
		border-radius: 2rem;
		background-image: radial-gradient(currentColor 1px, transparent 1px);
		background-size: 10px 10px;
		color: var(--primary);
	}
	@media (min-width: 1024px) {
		.dropzone-form::after {
			top: 2rem;
			left: -2rem;
		}
	}
</style>
